{% extends 'base.twig' %}

{% block title %}
	About Us
{% endblock %}

{% block content %}
	<div class="p-8">
		<h1 class="{{ css.textPrimary }} text-4xl font-bold mb-3">About Us</h1>

		<hr class="{{ css.separator }}">

		<div>
			<div class="mb-3">
				<h2 class="{{ css.textPrimary }} text-2xl font-bold mb-3">History</h2>

				<div class="grid grid-cols-1 gap-3 mb-6">
					{% for chapter in chapters %}
						<div class="{{ css.card }}">
							<h3 class="{{ css.cardTitle }}">{{ chapter.chapter }}</h3>
							<h4 class="{{ css.cardSubTitle }}">{{ chapter.title }}</h4>

							<div [isHtml]="true" class="{{ css.cardDescription }}">
								{{ chapter.contents | raw}}
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	{% endblock %}
