{% extends 'base.twig' %}

{% block title %}Home
{% endblock %}

{% block content %}
	<section style="{{ css.sbOfficeBg }}">
		<div class="{{ css.heroSection }}">
			<div class="flex justify-items-center mb-5">
				<img src="/assets/uploads/SBLogo.png" alt="SB Logo" class="w-[150px] h-[150px]">
			</div>
			<h1 class="{{ css.heroSectionTitle }}">Sangunian Bayan Digital Archive</h1>
			<p class="{{ css.heroSectionTitle }}">Digital  Archive of the Sangguniang Bayan, San Jose:</p>
			<p class="{{ css.heroSectionDescription }} italic">A Municipal Document Management System</p>
			<p class="{{ css.heroSectionDescription }}">San Jose, Camarines Sur, Philippines, 4423</p>
			<a href="/about" class="{{ css.heroSectionCta }}">Explore Now</a>
		</div>
	</section>

	<!-- Features Section -->
	<section>
		<div class="{{ css.featureSection }}">
			<h2 class="{{ css.featureSectionTitle }}">Why the Sangunian Bayan Digital Archive?</h2>
			<div class="{{ css.featureSectionCards }}">

				<div class="{{ css.featureSectionCard }}">
					<h3 class="{{ css.featureSectionCardTitle }}">Comprehensive Collection</h3>
					<p class="{{ css.featureSectionCardDescription }}">Access a wide range of documents, records, and images that capture the rich history of San Jose, from local governance to community events.</p>
				</div>

				<div class="{{ css.featureSectionCard }}">
					<h3 class="{{ css.featureSectionCardTitle }}">User-Friendly Interface</h3>
					<p class="{{ css.featureSectionCardDescription }}">Navigate through our archive with ease. Our intuitive design ensures that anyone can find the information they need quickly and efficiently.</p>
				</div>

				<div class="{{ css.featureSectionCard }}">
					<h3 class="{{ css.featureSectionCardTitle }}">Community Engagement</h3>
					<p class="{{ css.featureSectionCardDescription }}">Join our community of local historians, students, and residents. Contribute your stories and documents to help us build a comprehensive archive.</p>
				</div>
			</div>
		</div>
	</section>

	<!-- Call to Action Section -->
	<section id="cta" class="{{ css.ctaSection }}" style="{{ css.libraryBg }}">
		<div class="{{ css.heroSection }}">
			<h2 class="{{ css.heroSectionTitle }}">Join Us in Preserving Our Heritage</h2>
			<p class="{{ css.heroSectionDescription }}">Become a part of the Sangunian Bayan Digital Archive initiative. Help us document and celebrate our local history!</p>
			<a href="/ordinances" class="{{ css.heroSectionCta }}">Get Involved</a>
		</div>
	</section>
{% endblock %}
