{% extends 'base.twig' %}

{% block title %}Home
{% endblock %}

{% block content %}
	<section style="{{ css.sbOfficeBg }}">
		<div class="{{ css.heroSection }}">
			<div class="flex justify-items-center mb-5">
				<img src="/assets/uploads/SBLogo.png" alt="SB Logo" class="w-[150px] h-[150px]">
			</div>
			<h1 class="{{ css.heroSectionTitle }}">Digital Archive of the Sangguniang Bayan, San Jose:</h1>
			<p class="{{ css.heroSectionDescription }} italic">A Municipal Document Management System</p>
			<p class="{{ css.heroSectionDescription }} ">San Jose, Camarines Sur, Philippines, 4423</p>
			<a href="/ordinances" class="{{ css.heroSectionCta }}">Go to Ordinances</a>
		</div>
	</section>
{% endblock %}
