{% extends 'base.twig' %}

{% block title %}Home
{% endblock %}

{% block content %}
	<section style="{{ css.sbOfficeBg }}">
		<div class="{{ css.heroSection }}">
			<div class="flex justify-items-center mb-5">
				<img src="/assets/uploads/SBLogo.png" alt="SB Logo" class="w-[150px] h-[150px]">
			</div>
			<h1 class="{{ css.heroSectionTitle }}">Sanggunian Bayan Digital Archive</h1>
			<p class="{{ css.heroSectionTitle }}">Digital Archive of the Sangguniang Bayan, San Jose:</p>
			<p class="{{ css.heroSectionDescription }} italic">A Municipal Document Management System</p>
			<p class="{{ css.heroSectionDescription }}">San Jose, Camarines Sur, Philippines, 4423</p>
			<a href="/about" class="{{ css.heroSectionCta }}">Explore Now</a>
		</div>
	</section>

	<!-- Call to Action Section -->
	<section id="cta" class="{{ css.ctaSection }}" style="{{ css.libraryBg }}">
		<div class="{{ css.heroSection }}">
			<h2 class="{{ css.heroSectionTitle }}">Join Us in Preserving Our Heritage</h2>
			<p class="{{ css.heroSectionDescription }}">Become a part of the Sanggunian Bayan Digital Archive initiative. Help us document and celebrate our local history!</p>
			<a href="/ordinances" class="{{ css.heroSectionCta }}">Get Involved</a>
		</div>
	</section>
{% endblock %}
