{% extends 'base.twig' %}

{% block title %}
    Manage Members
{% endblock %}

{% block content %}
    <div class="p-8">
        <h2 class="{{ css.textPrimary }} text-2xl font-bold mb-3">Sangguniang Bayan Members</h2>

        <div class="grid grid-cols-1 gap-6 mb-6">
            {% for term, members in groupedMembers %}
                <div class="my-3 mb-8">
                    <!-- Display Term Title -->
                    <h3 class="{{ css.textSecondary }} font-bold mb-4">Municipal Officials from {{ term }}</h3>
                    
                    <div class="grid grid-cols-1 md:grid-cols-3 gap-3">
                        {% for member in members %}
                            <div class="{{ css.card }}">
                                <div class="flex gap-2">
                                    <!-- Image -->
                                    <div>
                                        <img src="{{ member.fileInput }}" alt="{{ member.firstName }} {{ member.lastName }}"
                                             class="{{ css.cardImage }} cursor-pointer" data-member-image="{{ member.fileInput }}" onclick="openModal(event)">
                                    </div>
                                    <div>
                                        <h3 class="{{ css.cardTitle }}">
                                            {{ member.firstName }} {{ member.lastName }}
                                        </h3>
                                        <h3 class="{{ css.cardSubTitle }}">
                                            {{ member.position }}
                                        </h3>
                                    </div>
                                </div>

                                <p class="{{ css.cardDescription }} mb-3">
                                    <i class="fas fa-fw fa-location-dot"></i>
                                    <span>{{ member.address }}</span>
                                </p>

                                <div class="{{ css.cardDescription }} member-description">
                                    <span class="member-description-text">{{ member.description }}</span>
                                    {% if member.description|length > 100 %}
                                        <button class="text-blue-500 toggle-description-btn" onclick="toggleDescription(event)">See more</button>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- Fullscreen Image Modal -->
    <div id="imageModal" class="hidden fixed inset-0 bg-black bg-opacity-80 flex justify-center items-center z-50">
        <img id="modalImage" src="" class="max-w-full max-h-full">
        <button class="absolute top-4 right-4 text-white text-2xl bg-black bg-opacity-80 p-2 px-4 rounded" onclick="closeModal()">×</button>
    </div>

    <script src="/assets/js/members.js"></script>
{% endblock %}
