{% extends 'base.twig' %}

{% block title %}
	Manage Members
{% endblock %}

{% block content %}
	<div class="p-8">
		<h2 class="{{ css.textPrimary }} text-2xl font-bold mb-3">Sangguniang Bayan Members</h2>

		<div class="grid grid-cols-1 md:grid-cols-2 gap-3 mb-6">
			{% for member in members %}
				<div class="{{ css.card }}">
					<div class="flex gap-2">
						<img src="{{ member.profilePicture }}" alt="" class="{{ css.cardImage }}">
						<div>
							<h3 class="{{ css.cardTitle }}">
								{{ member.firstName }}
								{{ member.lastName }}
							</h3>
							<h3 class="{{ css.cardSubTitle }}">
								{{ member.position }}
							</h3>
						</div>
					</div>

					<p class="{{ css.cardDescription }} mb-3">
						<i class="fas fa-fw fa-location-dot"></i>
						<span>{{ member.address }}</span>
					</p>

					<p class="{{ css.cardDescription }}">
						{{ member.description }}
					</p>
				</div>
			{% endfor %}
		</div>
	</div>
</div>{% endblock %}
