{% extends 'base.twig' %}

{% block title %}Ordinances
{% endblock %}

{% block content %}
	<div class="p-8">
		<h1 class="{{ css.textPrimary }} text-4xl font-bold mb-3">Ordinances</h1>

		<p class="{{ css.textSecondary }} mb-4 text-lg">
			Welcome to the Ordinances section, where you can view and manage all legislative documents pertaining to our local governance. Ordinances serve as essential tools for establishing laws, regulations, and guidelines that govern our community. 
		</p>

		<div class="grid grid-cols-1 md:grid-cols-3 gap-3">
			{% for ordinance in ordinances %}
				<div class="{{ css.card }}">
					<h2 class="{{ css.cardTitle }}">
						{{ ordinance.title }}
					</h2>
					<h3 class="{{ css.cardSubTitle }}">
						{{ ordinance.authors }}
					</h3>
					<p class="{{ css.cardDescription }}">
						{{ ordinance.description }}
					</p>

					<div class="{{ css.cardBtnContainer }} mt-4">
						<a href="/ordinances/preview/{{ ordinance.ordinanceId }}" class="{{ css.cardPrimaryBtn }}">Preview</a>
						<a href="/ordinances/download/{{ ordinance.ordinanceId }}" class="{{ css.cardSecondaryBtn }}">
							<i class="{{ css.downloadIcon }}"></i>
						</a>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
