{% extends '/admin/base.twig' %}

{% block title %}
	Manage Members
{% endblock %}

{% block content %}
	<div class="p-8">
		<h1 class="{{ css.textPrimary }} text-4xl font-bold mb-3">Manage Members</h1>
		<p class="{{ css.textSecondary }} text-lg mb-4">
			This page allows you to manage member profiles, including adding new members, updating existing information, and removing members as needed. Use the form below to input or modify member details.
		</p>

		<div popover id="memberForm" class="{{ css.formPopover }}">
			<div class="{{ css.formPopoverHeader }}">
				<h2 class="text-2xl font-bold">Member Form</h2>
				<button class="{{ css.formPopoverCloseBtn }}" popovertarget="memberForm">
					<i class="{{ css.xmarkIcon }}"></i>
				</button>
			</div>

			<div class="px-8 py-4">
				<div class="mb-3 w-full flex justify-start">
					<img src="{{ selectedMember.profilePicture }}" onerror="this.onerror=null; this.src='https://via.placeholder.com/150';" alt="" class="h-[150px] rounded-lg shadow-sm">
				</div>

				<form action="{{ formAction }}" method="POST" enctype="multipart/form-data">
					<input type="hidden" name="memberId" value="{{ selectedMember.memberId ?? '' }}">

					<div class="flex flex-col items-start mb-3">
						<input type="file" id="fileInput" name="fileInput" class="hidden">
						<label for="fileInput" class="{{ css.inputFileImage }}">
							<i class="{{ css.imageIcon }}"></i>
							Upload Profile Picture
						</label>
						<span id="fileName" class="ml-4 {{ css.textSecondary }}"></span>
					</div>

					<div class="mb-3 grid grid-cols-1 gap-3">
						<div class="grid grid-cols-subgrid grid-cols-1 md:grid-cols-3 gap-3">
							<div>
								<label for="firstName">First Name:</label>
								<input type="text" id="firstName" name="firstName" required class="{{ css.inputText }}" value="{{ selectedMember.firstName ?? '' }}">
							</div>
							<div>
								<label for="middleName">Middle Name:</label>
								<input type="text" id="middleName" name="middleName" class="{{ css.inputText }}" value="{{ selectedMember.middleName ?? '' }}">
							</div>
							<div>
								<label for="lastName">Last Name:</label>
								<input type="text" id="lastName" name="lastName" required class="{{ css.inputText }}" value="{{ selectedMember.lastName ?? '' }}">
							</div>
						</div>

						<div class="grid grid-cols-subgrid grid-cols-1 md:grid-cols-2 gap-3">
							<div>
								<label for="termStart">Term Start:</label>
								<input type="date" id="termStart" name="termStart" required class="{{ css.inputText }}" value="{{ selectedMember.termStart ?? '' }}">
							</div>
							<div>
								<label for="termEnd">Term End:</label>
								<input type="date" id="termEnd" name="termEnd" class="{{ css.inputText }}" value="{{ selectedMember.termEnd ?? '' }}">
							</div>
						</div>

						<div>
							<label for="description">Description:
							</label>
							<textarea name="description" id="description" class="{{ css.inputText }}">{{ selectedMember.description ?? '' }}</textarea>
						</div>

						<div>
							<label for="gender">Gender:</label>
							<select id="gender" name="gender" class="{{ css.inputText }}">
								<option value="male" {% if selectedMember.gender == 'male' %} selected {% endif %}>Male</option>
								<option value="female" {% if selectedMember.gender == 'female' %} selected {% endif %}>Female</option>
							</select>
						</div>

						<div>
							<label for="address">Address:</label>
							<input type="text" id="address" name="address" required class="{{ css.inputText }}" value="{{ selectedMember.address ?? '' }}">
						</div>

						<div>
							<label for="position">Position:</label>
							<input type="text" id="position" name="position" required class="{{ css.inputText }}" value="{{ selectedMember.position ?? '' }}">
						</div>
					</div>

					<div class="{{ css.formPopoverBtnContainer }}">
						<button type="submit" class="{{ css.saveBtn }}">
							<i class="{{ css.saveIcon }}"></i>
							Save
						</button>
					</div>
				</form>
			</div>
		</div>

		<button class="{{ css.formPopoverBtn }}" popovertarget="memberForm" id="formBtn">
			<i class="{{ css.editIcon }}"></i>
			Member Form</button>

		<hr class="{{ css.seperator }}">

		{% for term, members in groupedMembers %}
			<div class="my-3 mb-8">
				<h2 class="text-lg {{ css.textSecondary }} px-3">Term: {{ term }}</h2>
				<div class="{{ css.tableContainer }}">
					<table class="{{ css.table }}">
						<thead class="text-left">
							<tr class="{{ css.textPrimary }}">
								<th class="{{ css.tableHeader }}">Actions</th>
								<th class="{{ css.tableHeader }} min-w-[130px]">Name</th>
								<th class="{{ css.tableHeader }}">Gender</th>
								<th class="{{ css.tableHeader }} min-w-[150px]">Address</th>
								<th class="{{ css.tableHeader }}">Position</th>
								<th class="{{ css.tableHeader }} min-w-[170px]">Date Created</th>
							</tr>
						</thead>
						<tbody>
							{% for member in members %}
								<tr class="{{ css.tableRows }} {{ css.textSecondary }}">
									<td class="{{ css.tableRowData }}">
										<div class="{{ css.actionContainer }}">
											<a href="/admin/members/edit/{{ member.memberId }}" class="{{ css.editBtn }}">
												<i class="{{ css.editIcon }}"></i>
												<span>Edit</span>
											</a>
											<a href="/admin/members/delete/{{ member.memberId }}" class="{{ css.deleteBtn }}">
												<i class="{{ css.deleteIcon }}"></i>
												<span>Delete</span>
											</a>
										</div>
									</td>
									<td class="{{ css.tableRowData }}">
										{{ member.firstName }}
										{{ member.lastName }}
									</td>
									<td class="{{ css.tableRowData }}">{{ member.gender }}</td>
									<td class="{{ css.tableRowData }}">{{ member.address }}</td>
									<td class="{{ css.tableRowData }}">{{ member.position }}</td>
									<td class="{{ css.tableRowData }}">{{ member.createdAt }}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			<hr class="{{ css.seperator }}">
		{% endfor %}

		<script src="/assets/js/fileHandler.js"></script>
	</div>
{% endblock %}
